
.box{
	display:none;
	position:absolute;
	width:210px;
	border:1px solid pink;
	background:url(../images/clbg.jpg) no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}
.box a { 
	position:absolute; 
	top:0; 
	width:37px; 
	height:40px; 
	line-height:40px; 
	text-decoration:none; 
	text-align:center; 
	color: #3788d3;
	font-family: 'Niconne', cursive;
}
.box a:active { 
	color:red; 

}
#pre { 
	left:0; 
}
#next { 
	right:0; 
}
.tit{
	width: 210px;
	height: 30px;
	line-height: 30px; 
	text-align: center;
	font-family: 'Niconne', cursive;
}
.box li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	float: left;
	text-align: center;
}   
.week{
	color: orange;
}
.past{
	color: gray;
}
.today{
	color: #ff7253;
}  