
.box{
	display:none;
	position:absolute;
	width:210px;
	border:1px solid pink;
	cursor: pointer;
}
.box a { 
	position:absolute; 
	top:0; width:40px; 
	height:40px; 
	line-height:40px; 
	text-decoration:none; 
	text-align:center; 
}
.box a:active { 
	color:red; 
}
#pre { 
	left:0; 
}
#next { 
	right:0; 
}
.tit{
	width: 210px;
	height: 30px;
	line-height: 30px; 
	text-align: center;
}
.box li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	float: left;
	text-align: center;
}   
.week{
	color: orange;
}
.past{
	color: gray;
}
.today{
	color: blue;
}  