span{
	background: url(../images/no.gif) no-repeat;
	padding-left: 20px;
}
.active{
	background: url(../images/yes.gif) no-repeat;
	padding-left: 20px;
}	
input[type=radio]{
	display: none;
}
input[type=submit]{
	background:#e17c65;
	border: 1px solid #e17c65;
	color:#fff;
	border-radius: 4px;
}