
#j_select{
	width: 100px;
	border:1px solid pink;
	text-align: center;
}
#j_select span{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
}
#j_select ul{
	display: none;
}
#j_select li{
	width: 100px;
	height: 30px;
	line-height:30px;
	background: #fff;
}
#j_select li:hover{
	background: #e17c65;
	opacity: 0.8;
}
select{display: none;}	
input[type=submit]{
	position: absolute;
	left:107px;
	top:51px;
	background:#e17c65;
	border: 1px solid #e17c65;
	color:#fff;
	border-radius: 4px;
}